html,
body,
#root {
  height: 100%;
  user-select: none;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
}

body {
  /* Disable pull-to-refresh in iOS 15 Safari */
  overflow: hidden;
}

#root {
  display: flex;
  flex-direction: column;
}

@media (pointer: fine) {
  ::-webkit-scrollbar {
    width: 14px;
  }

  ::-webkit-scrollbar-thumb {
    border: 4px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
    border-radius: 8px;
    background-color: var(--joy-palette-neutral-700);
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: var(--joy-palette-neutral-700);
  }
}
