@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  user-select: none;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  height: 100vh;
  @supports (height: 100dvh) {
    height: 100dvh;
  }
}

body {
  /* Disable pull-to-refresh in iOS 15 Safari */
  overflow: hidden;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --primary: 207 47% 55%;
    --primary-foreground: 0 0% 100%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --ring: 207 47% 55%;
    --radius: 0.5rem;

    --font-sans: "Inter var";
    --success: 145.2 100% 31.7%;
    --success-foreground: 0 0% 98%;
    --info: 221.2 83.2% 53.3%;
    --info-foreground: 210 40% 98%;
    --warning: 24.6 95% 53.1%;
    --warning-foreground: 60 9.1% 97.8%;
    --danger: 2 78% 53%;
    --danger-foreground: 355.7 100% 97.3%;
  }

  .dark {
    --background: 207 50% 5%;
    --foreground: 207 5% 90%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --primary: 207 89.7% 77.1%;
    --primary-foreground: 0 0% 0%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --ring: 207 89.7% 77.1%;

    --success: 142.1 70.6% 46.3%;
    --success-foreground: 151 7.1% 4.6%;
    --info: 217.2 91.2% 62.8%;
    --info-foreground: 230 9.1% 6.2%;
    --warning: 20.5 90.2% 57.2%;
    --warning-foreground: 22 9% 5.69%;
    --danger: 2 78% 53%;
    --danger-foreground: 2 7.8% 5.3%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background font-sans text-foreground;
  }
}
