html,
body,
#root {
  height: 100%;
  user-select: none;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
}

body {
  /* Disable pull-to-refresh in iOS 15 Safari */
  overflow: hidden;
}

#root {
  display: flex;
  flex-direction: column;
}
