name: Electron

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: v16.13.0
      - run: corepack enable
      - run: yarn install --immutable --immutable-cache --check-cache
      - run: yarn build
      - run: yarn electron:sync
      - uses: actions/upload-artifact@v3
        with:
          name: electron
          path: electron/
  pack:
    needs: build
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        # ubuntu-latest, macos-latest, windows-latest
        os: [ macos-latest ]
    steps:
      - uses: actions/setup-node@v3
        with:
          node-version: v16.13.0
      - run: corepack enable
      - uses: actions/download-artifact@v3
        with:
          name: electron
      - run: yarn install --immutable --immutable-cache --check-cache
      - name: Sets env vars for macOS code signing
        if: matrix.os == 'macos-latest'
        run: |
          echo "CSC_LINK<<EOF" >> $GITHUB_ENV
          echo "${{ secrets.CSC_LINK }}" >> $GITHUB_ENV
          echo "EOF" >> $GITHUB_ENV
          echo "CSC_KEY_PASSWORD=${{ secrets.CSC_KEY_PASSWORD }}" >> $GITHUB_ENV
          echo "APPLEID=${{ secrets.APPLEID }}" >> $GITHUB_ENV
          echo "APPLEIDPASS=${{ secrets.APPLEIDPASS }}" >> $GITHUB_ENV
      - run: yarn electron:pack
      - uses: geekyeggo/delete-artifact@v1
        with:
          name: electron
      - uses: actions/upload-artifact@v3
        with:
          name: ${{ runner.os }}-dist
          path: |
            dist/
            !dist/mac/
